/* Fonts */
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
  body {font-family: 'Open Sans', sans-serif}

/* Global */
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
  body {margin:0;color: #768990}
  h1 {color: #213135}

  body:not(.connected) .ifconnected {display: none;}
  body.connected .ifnotconnected {display: none;}

  .loading {pointer-events: none; opacity:0.5}
  .loading:after {
    content: url(throbber.gif);
  }

  .separate > *:not(:last-of-type):after {
    content: " | ";
    color: #EEE;
  }

/* Header */
  header {font-size: 12px; width: 100%; padding: 2px; text-align: right}

/* Bug layout */
  .bugcontent {
    margin: 0 40px;
    font-size: 0;
  }
  .meta, .comments {
    font-size: 13px;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 40px;
  }

/* meta */
  .meta {
    width: 30%;
    margin-right: -1px;
    background-color: #FDFDFD;
    border: 1px solid #EEE;
  }
  .meta dl > * {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .meta > h1 {
    margin: 10px;
  }
  .meta > section {
    border-top: 1px solid #EEE;
    padding: 0 20px 20px 35px;
  }
  .meta dd {
    margin: 4px 0 4px 24px;
    color: #213135;
  }
  .meta input,
  .meta textarea {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 12px;
    border: 1px solid #EEE;
    box-shadow: none;
    padding: 5px;
  }
  .caption {
    text-transform: uppercase;
    color: #213135;
    margin-left: -15px;
  }

/* followers */
  .followers {
    list-style: none;
    padding-left: 0;
  }
  .followers > li {
    margin-bottom: 5px;
  }

  .followbutton,
  .unfollowbutton {
    -moz-appearance: none;
    border: 1px solid #106;
    background: white;
    font-size: 13px;
    line-height: 24px;
    padding: 0 5px;
    cursor: pointer;
    color: #213135;
  }

  .followbutton:before,
  .unfollowbutton:before {
    display: inline-block;
    padding-right: 6px;
  }

  .followbutton:before { content: "+"; }
  .unfollowbutton:before { content: "-"; }

/* avatar */
  .avatar {
    background-size: 24px 24px;
    line-height: 24px;
    background-repeat: no-repeat;
    padding-left: 30px;
  }

/* comments */
  .comments {
    width: 70%;
    padding-left: 5px;
  }

  .comment {
    padding: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #FdFdFd;
    border: 1px solid #EEE;
    border-width: 0 1px 1px;

  }

  .comment:first-of-type {
    margin-bottom: 40px;
    overflow: visible!important;
    background-color: #E3FEDF;
  }

  .comment:first-of-type:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -14px;
    left: -moz-calc(50% - 15px);
    -moz-transform: rotate(-45deg);
    width: 30px;
    height: 30px;
    background-image: -moz-linear-gradient(top right, transparent 50%, #E3FEDF 50%)!important;
  }

  .comment:first-of-type, .comment:nth-of-type(2) {
    border-top: 1px solid #EEE;
  }

  .comment:nth-child(even) {
    background-color: #F8F8F8;
  }

  .comment > .message {
    color: #213135;
    white-space: pre-line;
  }
  .comment.mine {
    background-image: -moz-linear-gradient(top left, #F06 12px, transparent 12px);
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  blockquote, .quotedtext {
    color: green;
  }

  .comment:focus {
    box-shadow: 1px 0 0 #000 inset;
    outline: 0;
  }

  .comment .date {
    float: right;
    font-size: 11px;
  }
  .commentcounter {
    color: #CCC;
  }

/* links */
  *[status=RESOLVED] {
    text-decoration: line-through;;
    color: grey;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: #F06;
  }

/* New comment */
  .addcomment {
    padding: 5px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #FdFdFd;
    border: 1px solid #EEE;
    border-width: 0 1px 1px;
    text-align: right;
  }
  .addcomment > textarea {
    display: block;
    width: 100%;
    padding: 5px;
    font-family: 'Open Sans';
    font-size: 12px;
  }
  .addcomment > button {
    -moz-appearance: none;
    border: 1px solid black;
    text-align: right;
    margin: 10px 0;
  }

/* Markdown */
  .markdown > .message {
    white-space: normal;
  }
  .markdown-markdown {
    display: none; /* Remove the markdown generated header */
  }

/* Small view */
@media (max-width: 800px) {
  .meta, .comments {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
  .bugcontent {
    margin: 0;
  }
  .comments {
    padding-left: 0;
  }
  .comment:first-of-type {
    margin-bottom: 0;
  }
  .followers > li {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    overflow: hidden;
  }
}

/* forms */

.showerror { border-bottom: 2px solid red; }
.showerror:after { content: "error: " attr(error); color: red; }
.showsuccess { border-bottom: 2px solid green; }
.showsuccess:after { content: "success"; color: green; }
